body {
  font: 20px Arial, sans-serif;
}

nav img {
  margin-left: 25px;
}

.navbar {
  background-color: #6e6e6e;
}

.history {
  background-color: #000000;
  color: white;
  padding: 10%;
}

#history p {
  margin-top: 25px;
}

.margin {
  padding-bottom: 50px;
  padding-top: 20px;
}

.content {
  background-color: #a9f5d0;
}

.browsers {
  background-color: #81bef7;
}

.bg-footer {
  background-color: black;
  color: white;
}

.divider {
  height: 3px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.623),
    rgba(255, 255, 255, 0.623) 100%
  );
}
